@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6qsar8');
    src:  url('../fonts/icomoon.eot?6qsar8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6qsar8') format('truetype'),
      url('../fonts/icomoon.woff?6qsar8') format('woff'),
      url('../fonts/icomoon.svg?6qsar8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-ckeck:before {
    content: "\e932";
  }
  .icon-instagram-second:before {
    content: "\e92e";
  }
  .icon-viber:before {
    content: "\e92f";
  }
  .icon-telegram:before {
    content: "\e930";
  }
  .icon-youtube:before {
    content: "\e931";
  }
  .icon-password-hidden:before {
    content: "\e92c";
  }
  .icon-password:before {
    content: "\e92d";
  }
  .icon-user-circle:before {
    content: "\e92b";
  }
  .icon-reward:before {
    content: "\e927";
  }
  .icon-master:before {
    content: "\e928";
  }
  .icon-cup:before {
    content: "\e929";
  }
  .icon-brake:before {
    content: "\e91c";
  }
  .icon-car-body:before {
    content: "\e91d";
  }
  .icon-diagnostis:before {
    content: "\e91e";
  }
  .icon-electronics:before {
    content: "\e91f";
  }
  .icon-engine:before {
    content: "\e920";
  }
  .icon-exhaust:before {
    content: "\e92a";
  }
  .icon-fuel:before {
    content: "\e921";
  }
  .icon-maintenance:before {
    content: "\e922";
  }
  .icon-steering:before {
    content: "\e923";
  }
  .icon-suspension:before {
    content: "\e924";
  }
  .icon-transmission:before {
    content: "\e925";
  }
  .icon-exhaust1:before {
    content: "\e926";
  }
  .icon-arrow-regular:before {
    content: "\e91b";
  }
  .icon-mail:before {
    content: "\e91a";
  }
  .icon-paper-plane:before {
    content: "\e919";
  }
  .icon-map-market-alt:before {
    content: "\e918";
  }
  .icon-clock:before {
    content: "\e917";
  }
  .icon-clock-regular:before {
    content: "\e915";
  }
  .icon-map:before {
    content: "\e916";
  }
  .icon-exit:before {
    content: "\e914";
  }
  .icon-burger:before {
    content: "\e913";
  }
  .icon-arrow-bold:before {
    content: "\e900";
  }
  .icon-arrow-bottom:before {
    content: "\e901";
  }
  .icon-arrow-left:before {
    content: "\e902";
  }
  .icon-arrow-right:before {
    content: "\e903";
  }
  .icon-arrow-top:before {
    content: "\e904";
  }
  .icon-cart:before {
    content: "\e905";
  }
  .icon-clear:before {
    content: "\e906";
  }
  .icon-dollar:before {
    content: "\e907";
  }
  .icon-euro:before {
    content: "\e908";
  }
  .icon-facebook:before {
    content: "\e909";
  }
  .icon-heart:before {
    content: "\e90a";
  }
  .icon-heart-solid:before {
    content: "\e90b";
  }
  .icon-instagram:before {
    content: "\e90c";
  }
  .icon-phone:before {
    content: "\e90d";
  }
  .icon-ruble:before {
    content: "\e90e";
  }
  .icon-twitter:before {
    content: "\e90f";
  }
  .icon-user:before {
    content: "\e910";
  }
  .icon-vk:before {
    content: "\e911";
  }
  .icon-search:before {
    content: "\e912";
  }
  