.custom-select {
	position: relative;
    font-size: 18px;
    margin: 0 0 20px 0;

	select {
		display: none; 
	}
}
@keyframes example {
    from {background-color: red;}
    to {background-color: $mainColor;}
}
  
.select-selected {
	background-color: $mainColor;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;

    &_active {
        animation-name: example;
        animation-duration: 1s;
    }

	&:after {
		position: absolute;
		content: "";
		top: 20px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;
	}
}
  
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 15px;
}

.select-items div,.select-selected { 
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: $mainColor;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 5px;
    font-size: 16px;

    div:hover, .same-as-selected  {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.select-hide {
    display: none;
}